__pycache__/
.vscode/
*.egg-info/
.DS_Store
*.out
*.test.py

.trash/
data/
paper/v1-neuips2024/
paper/v2-arxiv/
paper/v2-tip/
paper/journal_suggestions.xlsx
experiments/hpc/
experiments/imagenet_classification/
